.caja{
    width: 100px;
    height: 100px;
    
    
    animation: mymove 5s infinite;
}
.azul{
    background-color:blue;
}
.rojo{
    background-color:red;
}
.verde{
    background-color:green;
    
}
